body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6,p { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}


#header
{
          margin: 0 auto;
          /*max-width: 900px;*/
          padding: 0;
/*        border-top: 3px solid #C9E0ED;*/
}

#content
{
/*        padding: 20px;*/
          content: "";
/*    display: table;*/
/*    border-bottom: 1px solid #5F9E2B;*/
/*    color: #FFFFFF;*/
/*    width: 940px;*/
    clear: both;
    margin: 0 auto;
    position: relative;
        /*background: url("/images/main-bg.png") repeat scroll 0 0 #DEFFA1;*/
    color: #362F2B;
    min-height: 300px;
    /*min-width: 900px;*/
    /*padding: 50px 0;*/
}

#sidebar
{
          padding: 20px;
}

#content_other
{
float:left;
text-align: center;
width:530px;
padding-right:20px;
border-right:1px dotted #ccc;
}
#sidebar_other
{
float:left;
width:158px;
padding-left:20px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 30px;
}

#footer {
    background-color: #f5f5f5;
     text-align: center;
          /*border-top: 1px solid #C9E0ED;*/
          /*background: none repeat scroll 0 0 #FFFFFF;*/
margin: 0 auto;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.footer {
  clear:both;
  position:relative;
  width:100%;
  left:0;
  bottom: 0;
  background: #111;
  color:#fff;
  border-top: 5px #000 solid;
  height:125px;
  margin-top:-131px; // footer (height + padding + border)
}
.footer ul {
  margin:0;
  padding:0;
  list-style: none;
}
#logo
{
/*        padding: 10px 20px;*/
/*        font-size: 200%;*/
          margin: 0 auto;
          text-align: center;
          width: 950px;
}

#mainmenu
{
/*        background:white url(bg.gif) repeat-x left top;*/
          background-color: #40E0D0;
}

#mainmenu ul
{
          padding:6px 20px 5px 20px;
          margin:0px;
}

#mainmenu ul li
{
          display: inline;
}

#mainmenu ul li a
{
          color:#ffffff;
          background-color:transparent;
          font-size:12px;
          font-weight:bold;
          text-decoration:none;
          padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
          color: #6399cd;
          background-color:#EFF4FA;
          text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
          padding:.8em;
          margin-bottom:1em;
          border:2px solid #ddd;
}

div.flash-error
{
          background:#FBE3E4;
          color:#8a1f11;
          border-color:#FBC2C4;
}

div.flash-notice
{
          background:#FFF6BF;
          color:#514721;
          border-color:#FFD324;
}

div.flash-success
{
          background:#E6EFC2;
          color:#264409;
          border-color:#C6D880;
}

div.flash-error a
{
          color:#8a1f11;
}

div.flash-notice a
{
          color:#514721;
}

div.flash-success a
{
          color:#264409;
}

div.form .rememberMe label
{
          display: inline;
}

div.view
{
          padding: 10px;
          margin: 10px 0;
          border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
          font-size: 0.9em;
          padding: 5px 20px;
}

div.breadcrumbs span
{
          font-weight: bold;
}

.portlet
{

}

.portlet-decoration
{
          padding: 3px 8px;
          background: #B7D6E7;
          border-left: 5px solid #6FACCF;
}

.portlet-title
{
          font-size: 12px;
          font-weight: bold;
          padding: 0;
          margin: 0;
          color: #298dcd;
}

.portlet-content
{
          font-size:0.9em;
          margin: 0;
          padding: 5px 8px;
          margin-bottom:15px;
          background:#EFFDFF;
}

.portlet-content ul
{
          list-style-image:none;
          list-style-position:outside;
          list-style-type:none;
          margin: 0;
          padding: 0;
}

.portlet-content li
{
          padding: 2px 0 4px 0px;
}

/*.post
{
          margin: 0 0 20px;
}*/

.post .title
{
          font-size: 1.5em;
          border-bottom: 1px solid #C9E0ED;
}

.post .title a
{
          color: #555;
          text-decoration: none;
}

.post .author
{
          color: #888;
          margin: 0 0 5px;
}

.post .nav
{
          -moz-border-radius:7px;
          padding: 5px;
          background: #EFFDFF;
}

.comment
{
          -moz-border-radius:7px;
          padding: 10px;
          background: #F5F5F5;
          margin: 5px 0;
}

.comment .content
{
          margin: 10px 0;
}

.comment .author
{
          margin: 5px 0;
          padding: 0 0 3px;
          border-bottom: 1px solid #DDD;
}

.comment .time
{
          color: #888;
          font-size: 0.8em;
}

.comment a.cid
{
          color:#CCC;
          float:right;
          font-size:1.5em;
          font-weight:bold;
          padding:0 5px 5px 5px;
          text-decoration: none;
}

.comment a.cid:hover
{
          color:#555;
}

.comment .pending
{
          color:red;
}



#search_form {
    background-color: green;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    margin: 10px auto;
    padding: 5px 20px;
    text-align: center;
/*    overflow: auto;*/
}

#search_form form {
    margin: 0px auto;
    width: 590px;
}
/*ul, li, ol {
list-style: none;
}*/
#search_form p {
    float: left;
    text-align: left;
  
}

#search_form input {
    margin-bottom: 2px;
    padding: 4px 10px;
    /*width: 230px;*/
    width: 412px;
    color: #3F3B3B;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#search_form label {
    /*font-size : 95%;*/
    font-size: 12px;
          position : relative;
    left: 2px;
    bottom: 1px;
    text-align: left;
}

#search_form .submit {
    float: left;
    width: 90px;
}

#search_form .input_value{
    float: left;
    text-align: left;
    width: 450px;
}
#search_form .submit input {
    color: #000000;
    background-color: #C7DF8B;
    /*font-size: 1.4em;*/
          font-size: 17px;
    font-weight: bold;
    height: 30px;
    padding: 2px;
    
          margin-top: 12px;
          /*position: relative;
    top: 11px;*/
    width: 90px;
}
/* search box front page */

/* explanation of chiefmall */
#explanation {
          clear: both;
    font-size: 14px;
    text-align: center;
}

#explanation p {
    margin: 0px auto 0px;
    text-align: left;
    width: 740px;
}
/* explanation of chiefmall */

/* examples on the front page and recent */
#examples , 
.recent {
    clear: both;
    margin-top: 15px;
    text-align: center;
}

#examples span, 
.recent span {
    display: block;
    font-size: 14px;
    margin: 0px auto;
    text-align: left;
    width: 720px;
          background: url(../images/zoom.png) no-repeat;
          padding: 1px 0px 0px 22px;
}

.recent span {
    background: url(../images/world.png) no-repeat;
}

#examples div, 
.recent div {
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    margin:0 auto;
    width:700px; 
    text-align:center;
    overflow: auto;
          overflow: hidden;   /* opera */
}

.recent div {
    border-bottom: none;
    padding-top: 15px;
}

.recent ul {
    padding: 0px 10px;
}

#examples ul {
    float: left;
    font-size: 13px;
    padding: 5px 30px;
    text-align: left;
}

#examples li {
    list-style-type: none;
    margin: 3px 0px;
          /*width: 186px; /* opera, firefox linux requires width to be specified */
}

#examples a {
    text-decoration: none;
}

#examples a:hover {
    text-decoration: underline;
}

.recent li {
    /*height: 72px;*/
    line-height: 72px;
    display: block;
    float: left;
    text-align: center;
    width: 120px;
}

.recent li img {
    vertical-align: middle;
}

/*.recent li a {
    display: block;
}*/
/* examples on the front page and recent companies */

/* job posting form */
.handle {
    background-color: #EBEBEB;
    border : 1px solid #C0C0C0;
    border-top : 1px solid #EBEBEB;
    width: 130px;
    height: 25px;
    line-height: 25px;
    position: relative;
    top: -11px;
    left: 530px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
          clear: both;
}

.handle sup {
    color: red;
          font-size: 11px;
          font-weight: bold;
}

.handle a {
          background: url(../images/arrow_right_grey.png) no-repeat;
          padding: 1px 0px 0px 22px;
          color: #000000;
          font-size: 13px;
          font-weight: bold;
}

#job_posting {
    margin : 0px auto 15px auto;
    overflow: auto;
    text-align: left;
}

#job_explanation {
          float: left;
          background-color: #EBEBEB;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    width: 470px; /*462px;*/
    position: relative;
    top: 25px;
    left: 1px;
    font-size: 13px;
}

#job_explanation p.explanation {
          text-align: center;
    background-color: #FFFFFF;
          padding: 7px;
          line-height: 18px;
          margin: 15px 13px;
}

/* ie */
#job_explanation .errors {
          margin: 15px 13px;
}

#posting {
          float: left;
    width: 380px /*388px;*/
}

#posting p {
          margin: 15px 0px;
}

#posting fieldset.box {
          margin: 0px;
          border-left : 1px solid #C0C0C0;
    padding: 15px 0px 5px 25px /*22px;*/
}

#posting input, #posting textarea {
          /*width: 340px;*/
          width: 316px;
}

#posting textarea {
          height: 100px;
}

#posting .checkbox {
          width: 18px
}

#posting .submit {
    width: 140px;
          height: 35px;
    /*width: 336px;
    height: 30px;*/
}

/* job posting form */

/* search results */
/* search form */
#search_form_small {
    margin : 10px 0px;
    overflow: auto;
}

#search_form_small h1 {
    float: left;
    position: relative;
    top: 5px;
}

#search_form_small #search_form {
    width : 615px;
    float: right;
          margin: 0px;
}
/* search form */

/* stats - paging */
.stats {
    background-color : #EBEBEB;
    clear : both;
    margin: 0px auto;
    height: 30px;
    line-height: 30px;
}

.stats span {
    margin-left : 5px;
    margin-right : 5px;
}

.stats .paging strong, .stats .paging a {
    margin-left : 1.3px;
    margin-right : 1.3px;
}

.stats .paging {
    font-weight : bold;
    float: left;
}

.stats .count {
    float: right;
}
/* stats - paging */

/* results */
#results {
    margin: 15px 0px;
    overflow: auto;
          color: #3F3B3B;
          font-size: 13px;
          position: relative;
}

#results .row {
    clear : both;
}

* html #results .row {
          height: 30px;       /* ie6 needs some height */
}

#results .col {
          float: left;
          overflow: hidden;
          width: 170px;
}

#results .result {
          text-align: center;
          padding: 5px;
}

#results .result li {
          list-style: none;
}

#results .result .company_icon {
          height: 72px;
    line-height: 71px;
    margin-bottom: 10px;
    
    /*
    height: 79px;
    line-height: 79px;*/
}

.company_icon a {
    display: block;
}

/*.result .company_icon a {
          display: block;
}*/

#results .result img {
    /*margin-bottom: 4px;*/
    vertical-align: middle;
}

/*#results .result .phone a {
    color : /*#4C6F22;*/ /*#000000;
    text-decoration : none;
          font-weight: bold;
}*/

#results .result .city {
    font-style : italic;
}

.result .phone a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

#no_result .suggestions {
          list-style: circle;
          line-height: 20px;
          margin-left: 30px;
}
/* results */
/* search results */

/* login bar */
.login_bar {
          /*padding-right: -5px; 
  background-color: #EBEBEB;
border-bottom: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
height: 40px;*/
background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 0;
    padding-bottom: 9px;
    position: relative;
    z-index: 105;
}
.login_bar .left{
          height:39px;
          float: left;
}
.login_bar .right{
          overflow: hidden;
    text-align: right;
    padding-top: 10px;
}

.login_bar a {
           margin-left : 5px;
    margin-right : 5px;
          line-height: 30px;
          padding: 1px 0px 0px 22px;
}

.login_bar .account {
          background: url(../images/house.png) no-repeat;
}

.login_bar .join {
          /*font-size: 14px;
    background: url(../images/arrow_right.png) no-repeat;*/
}

.login_bar .sign_in {
          padding: 0px;
}

.login_bar .your_site {
          background: url(../images/eye.png) no-repeat;
}

.login_bar .sign_out {
          background: url(../images/lock_open.png) no-repeat;
}

.login_bar a.logo {
          float: left;
          margin-top: -10px;
          height: 45px; /* ie */
}
/* login bar */

/************* content - account - layout of other pages - overrides of the defaults *************/

/* account */
/* account tabs */
.account_logo {
    margin: -10px 0px 5px 0px;
}

.tabs {
    float: right;
    margin-top: 5px;
          margin-bottom: -1px;
          font-size: 12px;
}

.tabs li {
    float: left;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    margin-right: 6px;
    text-align: center;
    width: 76px;
    border-top: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    color: #0000CC;
          position: relative;
}

/* ie */
.tabs li a {
          display: block;
          height: 30px;
}

.tabs li:hover, .tabs a:hover  /* ie */ { 
    cursor: pointer;
    background-color: #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    color: #000000;
}

.tabs li.selected_tab {
    background-color: #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}

.tabs li a {
    text-decoration: none;
    color: inherit;
}

.tabs li.selected_tab a {
    color: #000000;
}

.tabs img.premium {
    position: absolute;
          top: -13px;
          right: -15px;
}

.tabs sup {
          color: red;
}
/* account  tabs */

/* todo list */
li.todo {
          list-style: none;
    font-size: 13px;
    height: 23px;
          line-height: 23px;
          padding-left: 30px;
          background: url(../images/cross.png) no-repeat;
}
/* todo list */

.delete {
          position: absolute;
          top: 0px;
          right: 2px;
}
/* account */

/* join */
ul.steps {
          margin-left: 10px;
/*        margin-left: 25px;*/
}

.steps img {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.steps li {
          list-style: none;
          list-style-position: outside;
          padding-left: 25px;
          /*padding-left: 2px; /* ie  */
}

.steps li a{
          font-weight: normal;
          color: #AFAFAF;
          text-decoration: none;
}

.steps li.selected a {
          font-weight: bold;
          color: #000000;
}

.steps li.selected {
          font-weight: bold;
          background: url(../images/arrow_right.png) no-repeat;
          /*list-style-image: url(../images/arrow_right.png);*/
}

.steps li.checked {
          background: url(../images/tick.png) no-repeat;
          /*list-style-image: url(../images/tick.png);*/
}

#join input.submit {
          width: 120px;
}

#join  textarea {
          width: 62%;
          height: 150px;
}

.summary .logo_preview {
          margin-top: 25px;
          border-bottom: none;
}
/* join */

/* footer */
.footer {
    clear : both;
    /*font-family : verdana;*/
    /*font-size : 11px;*/
          font-size: 12px;
    line-height : 150%;
    margin : 25px auto 0px auto;
    padding-top : 15px;
    padding-bottom: 5px;
    text-align : center;
    border-top: 1px solid #C0C0C0;
}

.footer a {
    /*margin : 0px 2px;*/
          margin: 0px 5px;
    text-decoration : none;
}

.footer a:hover {
    text-decoration : underline;
}

.footer .copyright {
    /*font-size : smaller;*/
    margin-top : 5px;
}

.footer .info {
          background: url(../images/information.png) no-repeat;
          padding: 1px 0px 0px 22px;
}
/* footer */

/* generic */
.summary .contact img, .content .contact img, 
.content .update_listing img {
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.summary #map_canvas {
          padding: 0px;
          border: 0px none;
          height: 200px;
          overflow: hidden;
}

.summary #map_canvas div {
          border: 0px none;
          margin: 0px;
          padding: 0px;
          overflow: visible;
}

.content .header {
          margin-top: 10px;
          z-index: 1;
}
/* generic */

/* user pages */
.summary_locations {
    position: relative;
}

#more_locations_handle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    width: 42px;
}

#account_summary #more_locations_handle {
    text-align: left;
    left: 0px;
}

.more_locations {
    display: none;
}

.contact img.mini_img {
          position: relative;
          top: 0px
}

#webpage .header {
          margin-top: /*-5px;*/-25px;
} 

#webpage .header h2 {
    width: 400px;
}

.title h2 a {
          text-decoration: none;
          color: #000000;
}

/* some hackery here */
#on_my_site {
    position: relative;
}

#on_my_site h2, #on_my_site h3{
    position: relative;
    top: 10px
}

#webpage_tabs .tabs li:hover {
    border-bottom: 1px solid #C0C0C0;
}

#login_bar_site {
    margin-bottom: -21px;
}
/* ie */
#webpage_tabs .tabs a:hover { 
    border: none;
}

#webpage_tabs ul.tabs {
          margin-top: -1px;
          position: relative;
          z-index: 2;
}

#webpage_tabs ul.tabs li {
    border: 1px solid #C0C0C0;
    border-top: 1px solid #EBEBEB;
}

/* ie */
#webpage_tabs img {
          position: relative;
          top: 3px;
}

.summary .web_links {
          border-bottom: none;
}

.description {
          font-size: 13px;
          line-height: 19px;
}

h4 .paging {
          position: absolute;
          right: 7px;
          top: 0px;  /* ie */
}

h4 .paging  a {
    text-decoration: none;
}

h4 .paging  a:hover {
    text-decoration: underline;
}

div.portfolio {
/*    overflow: auto;
    margin-bottom: 0px;*/
}

.portfolio h4 {
          margin-bottom: 15px;
}

.portfolio  div.mini_photo {
          float: left;
    min-height: 183px;
          margin: 5px;
          padding: 0px;
          text-align: center;
          width: /*183px;*/ 179px;
          position: relative;
    overflow: hidden;
}

.portfolio div img {
          background: #AAAAAA none repeat scroll 0% 50%;
          border: 7px solid #EBEBEB;
          padding: 1px;
          margin: 0px;
}

.portfolio a:hover img {
          border: 7px solid #C0C0C0;
}

.portfolio div.photo {
    text-align: center;
}

.portfolio div.photo_paging {
    margin-top: 15px;
    text-align: center;
    height: 25px;
}

.leave_review input.submit {
    width: 120px;
}

.portfolio .paging .nav {
    position: absolute;
    right: 4px;
    top: 0px;
}

.portfolio .paging .pages a {
    margin: 0px 1px;
}

.portfolio .paging .pages {
    font-weight: normal;
}

.portfolio .paging .nav .current_page {
    text-decoration: underline;
    font-weight: bold;
}

.portfolio h4.paging {
    font-size: 13px;
}

.portfolio .paging a {
    text-decoration: none;
}

.portfolio .paging a:hover {
    text-decoration: underline;
}

.portfolio .caption {
    margin-top: 20px;
/*    padding: 0px 15px;*/
}

#webpage .portfolio .caption {
/*    padding: 0px 15px;*/
    text-align: left;
}

.portfolio .mini_caption {
/*    padding: 0px 5px;*/
}

.portfolio .edit_caption {
    text-decoration: none;
    color: #000000;
    font-style: italic;
}

.portfolio .caption .errors {
    padding: 3px 7px;
    margin: 0px 0px 15px;
}

.portfolio .caption textarea {
    width: 500px;
    height: 66px;
    overflow: auto;
    color: #3F3B3B;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding: 4px 0px 4px 10px;
    font-style: italic;
}

.portfolio .save_caption {
    margin-top: 10px;
}

.portfolio .save_caption a {
    font-weight: bold;
}

.portfolio .back_bottom {
    font-size: 13px;
    margin-top: 15px;
}

#my_portfolio {
    position: relative;
}
/* user pages */

/* generic pages */
#generic div.categories {
    margin: 7px 0px 0px 0px;
    padding: 0px;
    font-weight: normal;
          line-height: 25px;
}

#generic .categories h3 {
          font-weight: normal;
}

/* generic pages */

/* sign in */
#resend_password .submit {
          width: 220px;
}
/* sign in */

/* contact */
#summary_contact h3 {
          font-size: 13px;
}

#contact textarea {
          width: 65%;
}

#contact .submit {
          width: 150px;
}

#contact .required {
          display: block;
          margin-top: 2px;
          font-style: italic;
          font-size: 13px;
          width: 65%;
}
/* contact */

/* There should be a standard layout for terms and faq
      everything in the content which is not a box or an explanation */
/* terms */
#terms {
          float: right;
}

#terms li {
          margin: 10px 20px;
}

#terms ol li {
          list-style: decimal inside;
}

#terms ul li {
          list-style: circle inside;
}

#terms h3, #terms h4, #terms h5, #terms p, #terms ol, #terms ul, 
#faq h3, #faq h4, #faq p {
          margin: 15px 0px;
          line-height: 17px;
}

#faq h4 {
          font-size: 14px;
}

#terms_summary {
          position: fixed;
}
          
#terms_summary li {
          list-style: none;
          line-height: 20px;
          margin-left: 5px;
}

#terms_summary ul {
          margin: 5px 0px;
}

#faq ul {
          margin: 0px 20px;
          font-size: 14px;
}

#faq li {
          line-height: 22px;
          list-style: circle;
}

#terms_summary h3 a {
          color: #000000;
          text-decoration: none;
}
/* terms */

/* faq */
#faq {
          float: right;
}

#faq p {
          font-size: 14px;
          line-height: 20px;
          padding: 0px 5px;
}

#faq_summary a {
          font-weight: bold;
          font-size: 11px;
          line-height: 20px;
          text-decoration: none;
}

#faq_summary a:hover {
          text-decoration: underline;
}
/* faq */
#summary_about h3 {
          font-size: 13px;
}

#about div {
          margin: 0;
          padding: 0;
}

#about img {
          top: 0px;
}

#about .intro {
          margin: 5px 0px 35px 0px;
}

#about .bio {
          margin: 20px 0px;
          overflow: auto;
}

#about .headshot {
          float: left;
          margin-right: 10px;
}

#about .acknowledgement {
          margin-top: 35px;
}
/* about */

a.phone_link {
          text-decoration: none;
          color: #000000;
}

a.phone_link:hover {
          color : #000000;
    /*color : #0000CC;*/
          text-decoration: none;
}

/* search views switching */
.view_change a {
    float: right;
    padding-left: 22px;
    margin: /*-5px*/ 0px 3px 3px 0px;
    text-decoration: none;
}

.view_change a:hover {
    text-decoration: underline;    
}

.view_change .list {
    background: url(../images/application_view_list.png) no-repeat;
}

.view_change .grid {
    background: url(../images/application_view_icons.png) no-repeat;
}
/* search views switching  */

/* list view */
#results_list {
    /*margin: 10px 5px;*/
    margin: 20px 5px 10px 5px;
}

#results_list .result {
    clear: both;
    margin: 10px 0px;
    height: 84px;
    border-bottom: 1px solid #C0C0C0;
}

#results_list .result:last-child {
    border-bottom: none;    
}

#results_list .company_icon {
    height: 72px;
    float: left;
    width: 72px;
    line-height: 71px;
    text-align: center;
}

#results_list .company_icon img {
    vertical-align: middle;
}

#results_list .information {
    height: 69px;
    float: left;
    width: 550px;
    margin: 3px 0px 3px 30px;
    position: relative;
          overflow: hidden;
}

#results_list .expertise, 
#results_list .company_name, 
#results_list .category_name {
    font-weight: bold;
}

#results_list .category_name {
    margin-top: 5px;
}

#results_list .expertise,
#results_list .expertise_user {
    position: absolute;
    bottom: 0px;
}

#results_list .expertise_user,
#results_list .city {
    font-style: italic;
}

#results_list .information ul {
    list-style: none;
}

#results_list .contact {
    float: left;
    height: 72px;
    position: relative;
    width: 184px;
}

#results_list .phone {
    position: absolute;
    top: 0px;
    right: 0px;
}

#results_list .contact .link {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#results_list .portfolio {
    display: block;
    margin-bottom: 3px;
}

#results_list .website {
    display: block;
}

#results_list p a {
    text-decoration: none;
}

#results_list p a:hover {
    text-decoration: underline;
}
/* list view */

/* star members */
.star_verified {
          position: absolute;
          top: -6px;
          left: -6px;
/*        top: -8px;
          left: -10px;*/
} 

/* it's impossible in ie <= 6 due to a bug with float left and position relative
     it would be easier if a table was used instead of div and float left with uls */
.star_verified_grid {
          position: absolute;
          top: -5px;
          left: 38px;
/*        top: -7px;
          left: 33px;*/
}

.company_icon {
          position: relative;
}
/* star members */

/* webpage licenses */
.summary .license p.verified {
          background: url(../images/tick.png) no-repeat right;
}

.summary .license .expires {
    font-style: italic;
}
/* webpage licenses */

/* account licenses summary */
.license_account .verified, li.verified {
          background: url(../images/tick.png) no-repeat right;
          padding-right: 20px;
}

.license_account .pending, li.pending {
          background: url(../images/exclamation.png) no-repeat right;      
          padding-right: 20px;
}

.license_account .expired, li.expired {
          background: url(../images/error.png) no-repeat right;  
          padding-right: 20px;
}

#add_handle {
          display: block;
          margin-top: 15px;
          margin-left: 5px;
          background: url(../images/pencil_add.png) no-repeat left;
          padding-left: 20px; 
}

#get_verified .box li {
          margin: 0px;
          padding: 5px 0px;
}
/* account licenses summary */

/* account home */
#account_home ul.box, #account_locations ul.box {
    margin: 20px 0px;
}
/* account home */

/* account locations */
.locations {
    background-color: #EBEBEB;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    padding: 7px 13px;
    margin: 10px 0px 0px;
    width: 100%;
}

.locations td.action {
    text-align: right;
    padding: 2px 0px;
}
/* account locations */

/* related contractors */
div.personel {
    width: 350px;
    float: left;
    margin-top: 0px;
}

div.related {
    width: 200px;
    float: right;
    margin-top: 0px;
    border: 1px solid #FFA800;
}

.related h4 {
    background: #FFCE6F;
    border-top: none;
}

.related p {
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
}   
/* end related contractors */

.next_prev {
    float: right;
    right: 500px;
    font-weight: bold;
    position: relative;
    top: -62px;
    right: 0px;
/*    right: 621px;*/
}

.next_prev a {
    text-decoration: none;
}

.next_prev a:hover {
    text-decoration: underline;
}

/*
.recent li a {
    /*float: left;*//*
    display: block;
    width: 120px;
    height: 72px;
}*/

/* account sub tabs */
.content .subtab {
    margin: 0px;
    padding: 0px;
}

.subtab h2 {
    display: inline;
}

.subtab a:hover {
    text-decoration: underline;
}

.subtab a.selected {
    color: #000000;
}

.subtab a.selected {
    text-decoration: none;
}
/* account sub tabs */

/* account successul updates  */
.content .success {
    background-color: #FFCE6F;
    border: 1px solid #FFA800;
    margin: 20px 0;
    padding: 7px 13px;
    position: absolute;
    top: 109px;
    right: 28px;
}
/* account successul updates  */

/* company logo */
a.company_logo {
    display: block;
}

.company_logo img {
    background: #AAAAAA;
    border: 4px solid #EBEBEB;
    padding: 1px;
}

/* it does not work in ie6 for unknown reason once again... */
a.company_logo:hover img {
    border: 4px solid #C0C0C0;
}
/* company logo */

/* next result */
.next_result {
    position: absolute;
    bottom: 45px;
    right: 20px;
    font-weight: bold;
}
/* next result */

/* account upload */
.upload_form {
    background: #EBEBEB;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 15px;
}

.upload_form label {
    padding-left: 20px;
    background: url(../images/lightning.png) no-repeat;
}

.upload_form #loading {
    position: absolute;
    left: 200px;
    top: 6px;
}

.upload_form input {
    margin-top: 3px;
    width: 225px;
}
/* account upload */

.eBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 12px 12px 12px 12px;
}
.eTop {
    background: none repeat scroll 0 0 #E4E4E4;
    display: none;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.eMore {
    float: left;
    height: 14px;
    overflow: hidden;
    padding-left: 24px;
    padding-top: 8px;
    width: 70%;
}
.eInfor {
    float: right;
    padding-right: 24px;
}
.clear {
    clear: both;
}
.eNotice {
    height: 25px;
    overflow: hidden;
    padding-bottom: 6px;
    padding-left: 0;
    padding-top: 0;
}
.filterbar .btn_filter {
    float: left;
}
.filterbar .btn_filter .search_tip {
    float: left;
    height: 18px;
    overflow: hidden;
    padding: 3px 0 2px;
}
.filterbar .btn_filter a {
    background: url("..../images/filterbar.png") no-repeat scroll right 0 transparent;
    float: left;
    height: 23px;
    margin: 0 3px;
    padding-right: 6px;
}
.filterbar .btn_filter a .text {
    background: url("..../images/filterbar.png") no-repeat scroll -93px -46px transparent;
    color: #666666;
    cursor: pointer;
    float: left;
    height: 18px;
    overflow: hidden;
    padding: 3px 0 2px 7px;
}
.filterbar .btn_filter a {
    background: url("..../images/filterbar.png") no-repeat scroll right 0 transparent;
    float: left;
    height: 23px;
    margin: 0 3px;
    padding-right: 6px;
}
.filterbar .btn_filter a .down {
    background: url("..../images/filterbar.png") no-repeat scroll 0 -46px transparent;
}
.filterbar .btn_filter a .arrow {
    cursor: pointer;
    float: left;
    height: 23px;
    margin: 0 0 0 3px;
    width: 7px;
}
.filterbar .btn_filter a .up {
    background: url("..../images/filterbar.png") no-repeat scroll -10px -46px transparent;
}
.filterbar .btn_filter a.active, .filterbar .btn_filter a.active:hover, .filterbar .btn_filter a.default {
    background: url("..../images/filterbar.png") no-repeat scroll right -23px transparent;
    color: #404040;
}
.filterbar .btn_filter a.active .text, .filterbar .btn_filter a.active:hover .text {
    background: url("..../images/filterbar.png") no-repeat scroll -93px -69px transparent;
    color: #FF6400;
}
.stock {
    float: right;
}
.stock_tab {
    float: left;
}
.stock_tab span {
    float: left;
    padding: 3px;
}
.stock_tab span label {
    padding-right: 5px;
}
.stock_tab span input {
    margin-top: 0;
    vertical-align: middle;
}
.stock_tab .item {
    float: left;
    padding: 0 8px 0 0;
}
#popup_city_div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #7A460D;
    display: none;
    height: auto;
    padding: 10px 5px;
    position: absolute;
    top: 21px;
    width: 330px;
    z-index: 10;
}
.eTable {
    border: 1px solid #CBCBCB;
}
.eTable table {
    width: 100%;
}
.eTable th {
    background: none repeat scroll 0 0 #E4E4E4;
    height: 30px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}
.eTable td.ePage {
    background: none repeat scroll 0 0 #E4E4E4;
    height: 30px;
    line-height: 30px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    width: 100%;
}
.eTable td {
    border-top: 1px solid #CBCBCB;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}
.eTable td.left_noborder {
    border-top: 0 none;
    text-align: left;
}
.eTable td.right_noborder {
    border-top: 0 none;
    text-align: right;
}
.eTable .eNo1 {
    padding-left: 12px;
    text-align: left;
    width: 50%;
    word-break: break-all;
}
.eTable .eNo1 h2 {
    display: inline;
}
.eTable th h2 {
    font-weight: bold;
    font-size: 1em !important;
}
#logo_title {
/*    background-color: white;*/
/*    padding: 15px 0;*/
	/*margin-top: 50px;*/
    text-align: center;
}
img.center {vertical-align:middle}
#search_form .BTN {
float: left;
font-size: 10.5pt;
color: #999;
background: #40AA53;
border: 0;
color: white;
height: 52px;
padding: 0 10px;
cursor: pointer;
width: 80px;
}
#search_form .lin {
/*float: right;*/
margin-left: 80px;
}
#search_form .TXT {
float: left;
font-size: 10.5pt;
width: 450px;
height: 50px;
border: 1px solid #40AA53;
padding: 0 10px;
-webkit-appearance: none;
border-radius: 0;

}

.login_bar .head_content{
          margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
}

.right a.menu {
    background-color: rgba(191, 214, 87, 0.4);
    border-radius: 20px 20px 20px 20px;
    color: #5A514C;
    font-family: 'Galdeano',sans-serif;
    margin-left: 5px;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

td.grid_list_td_image img{
   /*width: 80px;
  height: 80px;*/
}
#content_other p{ 
	/*text-align: left;*/
    /*text-indent: 2em;*/
}

/*.modal-body {
    max-height: 500px;
}*/

    label.valid {
	    width: 24px;
	    height: 24px;
	    background: url(../images/valid.png) center center no-repeat;
	    display: inline-block;
	    text-indent: -9999px;
    }
    label.error {
	    font-weight: bold;
	    color: red;
	    padding: 2px 8px;
	    margin-top: 2px;
    }
.wrap-fixed .head {
z-index: 1001;
position: fixed;
_position: absolute;
/*top: 0;*/
/*left: 0;*/
width: 100%;
height: 35px;
/*padding: 7px 0;*/
border-bottom: 1px solid #eee;
background: #fff;
overflow: visible;
bottom:0;
-webkit-box-shadow: rgba(0,0,0,.1) 0 1px 5px;
-moz-box-shadow: rgba(0,0,0,.1) 0 1px 5px;
box-shadow: rgba(0,0,0,.1) 0 1px 5px;
}

.search-left {
width: 50%;
float: left;
}
.search-right {
float: right;
text-align: center;
width: 40%;
/*height: 110px;*/
margin-bottom: 8px;
padding: 0;
}


.search-right a {
float: left;
font-size: 14px;
font-weight: bold;
}
.search-right .idxbtn1,.search-right .idxbtn12,.search-right .idxbtn13,.search-right .idxbtn4 {
 margin: 0 0 0 5px;
 /*margin-left: 2px;*/
}
#tabbable_gongqiu{
	clear:both;
}

h3 {
color: #f60;
font-size: 14px;
/*padding: 5px 0;*/
}

.login_right p {
color: #6a3905;
}
ul {
list-style: none;
}

.products_list {
margin-top: 8px;
margin-bottom: 0px;
width: 654px;
}

.big_pic {
width: 200px;
float: left;
margin-right: 25px;
}

.product_information {
float: left;
/*width: 540px;*/
position: relative;
top: 0px;
left: 0px;
}
.buy_now {
background: url(../images/line_bg.gif) repeat-x bottom;
padding-bottom: 20px;
}
.product_address {
margin-top: 20px;
}

.product_address_left {
float: left;
width: 307px;
padding-right: 20px;
}

.product_address_right {
float: left;
width: 210px;
padding-top: 25px;
}

.products_list_mall {
width: 917px;
}
.phone, .tel {
    color: #FF0508;
    font-family: verdana,"宋体";
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    table-layout: fixed;
    word-break: break-all;
}


#clickme.info-box{border-bottom: 5px solid transparent !important;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) !important;}

#clickme.info-box{ position: fixed;top:0;left:0;width:100%; background:url(../images/clickmebg.jpg);padding:0 !important;
border-radius:0;border:none;z-index:9999; font-size:16px; color:#12a3cf; font-weight: bold; text-align:center;
}
#clickme.info-box:hover{opacity:0.3;cursor: pointer;}
#clickme.info-box p{display:block;padding:10px 30px;}

.navbar .brand {
padding: 0;
width: 226px;
height: 40px;
text-indent: -999px;
display: inline-block;
background: url('../images/logo_small.png') no-repeat 0 0;
top: -10px;
}

#jump {
position: fixed;
top: 200px;
left: 0px;
width: 40px;
z-index: 400;
_position: absolute;
_top: expression(documentElement.scrollTop + "px");
}
#backtotop,#share,#reply,#sina,#ceping,#weixin{display:block;width:40px;height:42px;cursor:pointer;}
#backtotop{background:url(../images/top.png) repeat scroll 0% 0% transparent;}
#share{background:url(../images/share.png) repeat scroll 0% 0% transparent;}
#reply{background:url(../images/reply.png) repeat scroll 0% 0% transparent;}
#sina{background:url(../images/sina.png) repeat scroll 0% 0% transparent;}
#weixin{background:url(../images/weixin.png) repeat scroll 0% 0% transparent;}
#backtotop:hover{background:url(../images/toped.png) repeat scroll 0% 0% transparent;}
#share:hover{background:url(../images/shared.png) repeat scroll 0% 0% transparent;}
#reply:hover{background:url(../images/replyed.png) repeat scroll 0% 0% transparent;}
#sina:hover{background:url(../images/sinad.png) repeat scroll 0% 0% transparent;}
#weixin:hover{background:url(../images/weixind.png) repeat scroll 0% 0% transparent;}
#ceping{background:url(../images/ceping.png) repeat scroll 0% 0% transparent;}
#ceping:hover{background:url(../images/cepinged.png) repeat scroll 0% 0% transparent;}
.yjbys_sj { position:absolute; z-index:9999; top:150px; display:none;}
.yjbys_sj img{ border:1px solid #DDDDDD;}
#EWM{ position:absolute; left:40px; display:none;}
#EWM img{ width:150px; height:150px;}
.red{ color:red}

.page-header {
border-bottom: 1px solid red !important;
}

//反馈
.setfarme {
background: #fff url(../images/farmebg.gif) repeat-x 0 0;
border: 1px solid #cacaca;
margin-top: 15px;
overflow: hidden;
}

.msgList {
padding: 20px;
}
.msguser {
height: 25px;
border-bottom: 1px solid #c5c5c5;
}

.msguser li.id {
background: url(../images/ico3.gif) no-repeat 0 0;
font-size: 14px;
}

.msguser li.time {
background: url(../images/ico30.gif) no-repeat 0 0;
}
.msguser li {
float: left;
height: 30px;
padding-left: 20px;
overflow: hidden;
margin-right: 10px;
font-weight: bold;
}
.msginfo {
clear: both;
margin-top: 5px;
}
.msginfo p {
line-height: 22px;
padding-left: 35px;
}
.msginfo div {
line-height: 22px;
padding-left: 35px;
color: #d90000;
margin-top: 5px;
}
.msginfo div b {
display: block;
border-top: 1px dashed #FF0000;
padding-top: 5px;
}
.well{
	background-color:#FFFFFF !important;
}
.form-create-post .control-label {
width: auto;
float: left;
padding-top: 5px;
text-align: right;
}
.form-create-post .controls {
margin-left: 80px;
}
.grid_list_td_image img{
	width: 150px;
	max-height:100px;
}