.overz {
	overflow:auto; zoom:1; overflow-x:hidden; overflow-y:hidden;
}
#online_qq_layer {position:fixed; right:0px; top:120px; z-index: 15000;}
#online_qq_layer { _position:absolute; _bottom:auto; _top:expression(eval(document.documentElement.scrollTop + 120));}
.online_icon {
  height: 156px;
  width: 36px;
}
.online_icon_salesman a {
  background: url("../images/service/wpa.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 134px;
  width: 38px;
}
.online_icon_salesman a:hover {
  background: url("../images/service/wpa.png") no-repeat scroll 0 -134px transparent;
}
.online_icon a {
  background: url("../images/service/online_bg.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 155px;
  width: 39px;
}

.online_windows {
  width: 125px;
}

.online_w_top {
  text-indent: -99999px;
  background: url("../images/service/online_bg.png") no-repeat scroll -38px 0 transparent;
  height: 39px;
}

.qq_bar {
	margin-top: 20px;
}
.qq_bar a {
  display:block;
  width: 110px;
  height: 30px;
  margin-left: 7px;
}
.qq_online a {
	background: url("../images/service/online_bg.png") no-repeat scroll -39px -40px transparent;
}
.qq_online a:hover {
	background: url("../images/service/online_bg.png") no-repeat scroll -38px -71px transparent;
}

.qq_offline a {
  background: url("../images/service/online_bg.png") no-repeat scroll -38px -102px transparent;
}
.qq_offline a:hover {
  background: url("../images/service/online_bg.png") no-repeat scroll -38px -133px transparent;
}

#onlineService h2 {
	margin: 0;
	margin-bottom: 2px;
	font-size: 16px;
}
.qq_tel {
	text-indent: -999999px;
	width: 125px;
	height: 23px;
	background: url("../images/service/online_bg.png") no-repeat scroll 0 -164px transparent;
}
#online_qq_tab {
  float: left;
  margin-top: 75px;
}
#onlineService {
  /* 如需显示收放效果，请取消注释 display: none;*/
  float: left;
/*   margin-left: -2px; */
  border: #BA3703 solid 2px;
  text-align: center;
  color: #BA3703;
  background-color: #f2f2f2;
}

*html{  
    background-image:url(about:blank);  
    background-attachment:fixed;  
}
/*新客服系统*/
/* .helper-button {
width:42px;
height:118px;
right:6px;
top:112px;
position:fixed; 


 _position:absolute;
 _bottom:auto;  
 _top:expression(eval(document.documentElement.scrollTop));  
}  */
.helper-button a {
  background: url("../images/service/btn24.png") no-repeat scroll -43px 0 transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}
.helper-button a:hover{background-position:0 0; }

.helper-wrap {
  border: 1px solid #F38300;
  border-radius: 4px 4px 4px 4px;
  position: fixed;
  right: 53px;
  top: 112px;
  width: 458px;
  z-index: 10000;
  display:none;
  _position:absolute;
  _bottom:auto;  
  _top:expression(eval(document.documentElement.scrollTop+112));  
  
}
.helper-box {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 4px solid #FEA337;
  border-radius: 2px 2px 2px 2px;
  position: relative;
  text-align: left;
  width: 450px;
  z-index: 10000;
}

.helper-box-tit{
 height:40px;
 padding:0 15px;
 margin-top:15px;
}

.helper-box-info {
  background: none repeat scroll 0 0 #FFFAEC;
  border: 1px solid #FEA337;
  margin: 3px 15px;
  padding: 7px 10px;
}
.helper-box-info  a:hover{
text-decoration: underline;

}



.helper-box-close {
  cursor: pointer;
  display: inline;
  float: right;
  height: 19px;
  width: 19px;
  margin-top:-30px;
}
.helper-wrap .tab_menu{
  float: left;
  font-size: 14pt;
  height: 30px;
  overflow: hidden;
  border-bottom:2px solid #FEA337;

  width:420px;
}
.helper-wrap .tab_menu li {
  display: inline;
  float: left;
  line-height: 30px;
  list-style-type: none;
  margin: 0 15px;
  text-align: center;
  text-decoration: none;
  width: 90px;
}

.helper-wrap .tab_menu li a.on {
  background: none repeat scroll 0 0 #FEA337;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #FFFFFF;
  display: block;
  height: 30px;
  width: 90px;
}
/* .helper-box-close a {
  background-image: url("../images/service/close.gif");
}
.helper-box-close a:hover {
  background-image: url("../images/service/close-h.gif");
} */
.helper-box-close a {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
} 

.helper-wrap .tab_box{
margin:10px 15px 10px;

}

.helper-wrap .tab_box .con li{
margin:10px 0;
}

.helper-wrap .helper-box-list-con{
  
  scrollbar-arrow-color:#D3D3D3;
  overflow-x:hidden;
  overflow-y:auto;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D3D3D3;
  margin-top:10px;
  line-height:23px;
  padding:0 10px;
  height:140px;
  display:none;
}

.helper-wrap .helper-box .helper-box-bot a{
  line-height:40px;
  height:40px;
  display:inline-block; 
  font-size: 16px;
/*   font-weight: bold;  */
  margin-left:7px;
  padding:0 10px;
  margin-top:10px;
  border-radius:3px;
  color:#FFF;
  float:left;
}
.helper-wrap .helper-box .helper-box-bot a:hover{
 
 font-weight: bold;

}
 


.helper-wrap .helper-box-bot {
  border-top: 2px solid #FEA337;
  height: 56px;
}

.helper-wrap .helper-box-bot ul li{
float:left;
width:140px;
margin:5px 0;
height:21px;
line-height:21px;
}
.helper-wrap .helper-box-bot ul li span{
 font-weight: bold;
 }