
img {border:none; vertical-align:middle;}
table {border-collapse:collapse;}
/* td,th {text-align:left;} */
em {font-style:normal;}

a.thickbox {
  color:#BA3703; text-decoration:underline;
}

.cDGray {color:#6d6d6d;}
.cBrowns {color:#5491CA;}
.cOrange{color:#dc6f03;}
.red{color:#E84C00;}
.cRed,a.cRed:link,a.cRed:visited {color:#FF0000;}
a.aOrange:link, a.aOrange:visited {color:#FF8400;}
.aOrange a:link, .aOrange a:visited {color:#FF8400;}
.aOrange a:hover, .aOrange a:active {color:#f00;}
.aDYellow a:link, .aDYellow a:visited {color:#c9663f;}
.aDYellow a:hover, .aDYellow a:active {color:#f00;}
a.aBlue:link, a.aBlue:visited {color:#0097ee;}
a.aBlue:hover, a.aBlue:active {color:#f00;}
a.underLine {text-decoration:underline;}

.f12px {font-size:12px;}
.f14px {font-size:14px;}
.f18px {font-size:18px;}
.f20px {font-size:20px;}
.fB {font-weight:bold;}
.fNomal {font-weight:normal;}
.hasLayout {clear:both; overflow:hidden; _zoom:1;}
.blank12 {height:12px; overflow:hidden; font-size:0; line-height:0;}
.blank18 {height:18px; overflow:hidden; font-size:0; line-height:0;}
.blank24 {height:24px; overflow:hidden; font-size:0; line-height:0;}
.blank48 {height:48px; overflow:hidden; font-size:0; line-height:0;}
.textCenter {text-align:center;}
.textLeft,table tr .textLeft {text-align:left;}
.textRight,table tr .textRight {text-align:right;}

.advertiser_flow ul li{
  color: #BBBBBB;
  float: left;
  text-align: center;

}
.advertiser_flow ul.bigicon {
  display: inline-block;
  height: 120px;
  margin: 0px 10px 0;
}
.advertiser_flow ul li.icon{
  width: 170px;
  margin-bottom:10px;
}


.error {line-height:15px; padding-left:22px; color:#ba3703; font-size:12px; font-weight:normal; text-align:left; background:url(../images/ico_error.png) no-repeat;}
.line {padding-top:18px; border-bottom:1px dotted #cccccc;}


.fYahei {font-family:Microsoft Yahei,"","";}
/*顶部*/
#site-nav {
  background-color: #F5F5F5;
  border-bottom: 1px solid #DCDCDC;
  min-width: 950px;
  width: auto;
}
#site-nav-bd {
  color: #000000;
  height: 21px;
  line-height: 22px;
  margin: 0 auto;
  padding: 3px 0;
  position: relative;
  width: 950px;
  z-index: 10000;
}



#site-nav .login-info {
  float: left;
}
/* #site-nav a {
  color: #666666;
} */
#site-nav .quick-menu {
  position: absolute;
  right: 0;
  top: 1px;
}
#site-nav .quick-menu li {
  background-position: right 6px;
  float: left;
  margin-left: -1px;
  padding: 1px 10px 0;
}


.main { background-color:#f3f3f3;}
.main .content {width:960px; margin:0 auto;}
.position {
  border-bottom: 1px solid #E6E6E6;
  color: #5E5E5E;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
.content {width:960px; margin: 0 auto;}




/* 合作流程 */
.hzlc {width:960px; height: 175px; margin:35px auto; border:1px solid #fff; outline:1px solid #e8e8e8; background-color:#f5f5f5;}
.hzlc .advertiser {width: 480px; float: left;border-right: 1px solid #E8E8E8; 
/* padding-right: 30px;
 */
}
.hzlc .affiliate {width: 450px; float: right;}
.hzlc .title {color: #6D6D6D; margin-top: 10px; margin-left: 20px;}
/*.hzlc ul {width:280px; padding-left:36px; line-height:1.6em; border-right:1px dotted #cccccc; float:left;}
.hzlc ul.s2 {width:290px;}
.hzlc ul.s3 {border:none;}
.hzlc li span {padding-right:10px;}
.hzlc h2 {margin-bottom:10px; font-size:16px; font-weight:bold;}
.hzlc p {padding:13px 30px 0 0; text-align:right;}
*/
ul.inline {
    list-style: none outside none;
    margin-left: 0;
}
ul.inline li.icon {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
ul.bigicon {
    display: inline-block;
    height: 120px;
    margin: 20px 10px 0;
}
ul.bigicon li {
    color: #BBBBBB;
    float: left;
    text-align: center;
    width: 50px;
}
ul.bigicon li a {
    color: #BBBBBB;
    cursor: pointer;
    text-decoration: none;
}
ul.bigicon li a:hover {
    color: #FF9900;
    cursor: pointer;
    text-decoration: none;
}
ul.bigicon li:hover {
    color: #EC6100;
}
ul.bigicon li.ftip:hover {
    color: #BBBBBB;
}
ul.bigicon li.ftip {
    padding: 25px 0 0;
    vertical-align: top;
}
ul.bigicon li.ftip i {
    font-size: 18px;
}
ul.bigicon li i {
    font-size: 50px;
    line-height: 60px;
}
/* 合作流程 结束 */










.paging {padding:20px 0; font-size:12px; text-align:center; overflow:hidden;}
.paging span {padding:0 10px;}
.paging a {margin:0 5px; padding:6px; border:1px solid #6d6d6d; background-color:#f1f1f2;}
.paging a.on {color:#fff; background-color:#ba3703;}

.popWin {width:498px; border:1px solid #d6d6d6; background-color:#fff; position:absolute; z-index:1000; display:none;}
.popWin h1 {width:494px; height:35px; margin:2px; background:url(../images/popwin_title_bg.png) no-repeat;}
.popWin .title {width:90px; height:25px; margin-left:6px; padding-top:10px; font-size:14px; font-weight:bold; font-family:Microsoft Yahei; text-align:center; color:#ba3703; background-color:#fff; display:inline; float:left;}
.popWin em {margin:12px 15px 0 0; float:right;}
.popWin em a:link, .popWin em a:visited {color:#d6d6d6;}
.popWin em a:hover, .popWin em a:active {color:#f00;}
.popWin .text {padding:0 20px;}
.popWin h2 {margin-top:25px; font:14px arial,Verdana,tahoma,sans-serif;}
.popWin h3 {width:120px; margin-right:25px; font-size:12px; text-align:center; float:right}
.popWin p {line-height:1.8em; text-indent:2em; font-size:14px;}
.loginWin {margin:50px;}
.loginWin table {margin-left:25px;}
.loginWin td {padding:5px 0;}
#NIE-overlay {width: 100%; height: 100%; background: none repeat scroll 0 0 #000000; left: 0; opacity: 0.6; overflow: hidden; position: absolute; top: 0; z-index: 999;}

.sys404 {height:377px; background:url(../images/404_bg.png) repeat-x;}
.sys404 .bg, .sys404 .bg2, .sys404 .bg3 {width:960px; height:377px; line-height:1.8em; font-size:14px; background:url(../images/404_pic.png) no-repeat; position:relative; margin:0 auto;}
.sys404 .bg2 {background:url(../images/500_pic.png) no-repeat;}
.sys404 .bg3 {background:url(../images/sorry_pic.png) no-repeat;}
.sys404 .text {position:absolute; top:225px; left:420px;}
.sys404 .tel {padding-left:154px;}
.sys404 span {text-indent:2em;}

.newsBg, .errorInfo {width:962px; background:url(../images/index_second_bg.png) repeat-y; margin:0 auto; _padding-left:1px;}
.newsDetails {
/*   line-height: 2em; d-uo_du-o net*/
  margin: 0 auto;
}
.team {
    font-size: 14px;
    line-height: 2em;
    margin: 0 auto;
    width: 865px;
}
.team h3, .team h4 {
  border-bottom: 1px solid #CCCCCC;
  font-family: Microsoft Yahei,"微软雅黑","黑体";
  font-size: 20px;
  margin-bottom: 25px;
  padding-bottom: 5px;
}
.team h4 {
  border-bottom: 1px dotted #CCCCCC;
  color: #5491CA;
  padding-bottom: 15px;
  text-align: center;
}
.team li {
  margin-bottom: 20px;
}
.team h5 {
  font-size: 14px;
  font-weight: bold;
}


/* .newsDetails h2 {font-size:20px; text-align:center;}
.newsDetails h3 {margin-bottom:25px; padding-bottom:5px; font-size:20px; font-family:Microsoft Yahei; border-bottom:1px solid #cccccc;}
.newsDetails .date {margin-bottom:10px; padding:10px 0; text-align:center; border-bottom:1px dotted #cccccc;}
.newsDetails .sign {padding-right:30px; text-align:right;}
.newsDetails .share {margin-top:50px; padding-top:10px; border-top:1px dotted #cccccc;}
.newsDetails .comBack {font-size:12px; float:right;}
.newsDetails li {
height:auto !important;
 min-height:30px;
 height:30px;
 font-size:16px;
 border-bottom:1px dotted #cccccc; 
 }*/

.newTab {width:300px; margin:0 auto 20px;}
.newTab li {width:125px; height:25px; line-height:25px; min-height:24px; margin-right:10px; font-size:14px; text-align:center; border:1px solid #ccc; cursor:pointer; float:left;}
.newTab li.on {font-weight:bold; background-color:#ccc;}
.newList .hide {display:none;}

.artDisclaimer{padding:10px 0;font-size:12px;line-height:26px;text-align:center;}
.artDisclaimer-btn{color:#e5d28f;position:relative;height:24px; line-height:24px;margin-left:1px;text-align:left;text-decoration:none;font-size:12px;border:0;cursor:pointer;display:inline-block;}
.artDisclaimer .artDisclaimer-btn:hover{color:#F60;}
.artDisclaimer .artDisclaimer-btn,.artDisclaimer i .closeBtn{background-repeat:no-repeat;}
.artDisclaimer .NIE-share-txt{display:none;}
.artDisclaimer .artDisclaimer-btn{margin-left:5px;padding-left:23px; color:#000;}
.artDisclaimer .shareBtn{width:55px;background-position:-2px 0;}
.artDisclaimer .copyLinkBtn{width:55px;background-position:-81px 0;}
.artDisclaimer .goTopBtn{width:55px;background-position:-166px 0;}
.artDisclaimer i{font-style:normal;position:absolute;top:21px;/* for ie */top:24px \9;left:9px;width:160px;padding:9px;text-align:left;display:none;}
.artDisclaimer i a{color:#a9cdd9;width:70px;margin:2px 10px 2px 0;float:left;text-indent:20px;text-decoration:none;display:inline;}
.artDisclaimer i a:hover{text-decoration:underline;}
.artDisclaimer i .closeBtn{position:absolute;right:0;top:0;width:18px;height:18px;margin:0;line-height:900px;padding:0;overflow:hidden;}
.artDisclaimer i .closeBtn:hover{}
/* end by lam*/

.errorInfo {padding-top:50px;}
.errorInfo2 {width:670px; height:400px; margin-left:10px; padding:50px 45px; font-size:14px; border-bottom:1px solid #e1e1e1; background:#fff url(../images/user_main_bg.png) no-repeat; overflow:hidden; float:left;}
.errorInfo h3, .errorInfo2 h3 {width:550px; margin:0 0 25px 250px; font-family:Microsoft Yahei;}
.errorInfo2 h3 {margin-left:100px;}
.errorInfo p, .errorInfo2 p {font-size:14px; line-height:2em;}
.errorInfo .text, .errorInfo2 .text {width:500px; padding-left:50px; margin-left:250px;}
.errorInfo2 .text {margin-left:100px;}
.errorInfo .indent, .errorInfo2 .indent {text-indent:2em;}
.errorInfo .txt, .errorInfo2 .txt {width:420px; line-height:36px; font-size:20px; float:left;}
.error2, .succeed {width:36px; height:36px; margin-right:12px; background:url(../images/ico_error2.png) no-repeat; float:left;}

.systemInfo {width:962px; padding-top:50px; background:url(../images/index_second_bg.png) repeat-y; margin:0 auto; _padding-left:1px;}
.systemInfo h3 {width:550px; margin:0 0 25px 200px; font-family:Microsoft Yahei;}
.systemInfo .text {width:760px; padding-bottom:100px; font-size:14px; line-height:2em; text-indent:2em; margin-left:100px;}
.systemInfo .txt {width:420px; line-height:36px; font-size:20px; float:left;}
.succeed {color:#6d6d6d; font-size:20px; font-weight:normal; text-align:left; background:url(../images/ico_succeed.png) no-repeat;}
.friendlink {
  margin: 0 auto;
  border: 1px solid #CDCDCD;
  margin-top: 20px;
  width: 960px;
}
.friendlink_title {
  background: url("../images/links.png") no-repeat scroll transparent;
  font-family: Microsoft Yahei;
  font-size: 16px;
  left: 20px;
  padding-left: 35px;
  position: relative;
  top: -10px;
  width: 132px;
}
.friendlink_main {
  font-size: 12px;
  line-height: 24px;
  padding: 0 6px 10px;
}
.friendlink_main a {
  display: inline-block;
  margin: 0 5px;
  white-space: nowrap;
  word-break: keep-all;
}

.footer {margin:20px 0; line-height:1.8em; text-align:center;}
.footer .footerDiv {
  width: 190px;
  margin: 0 auto;
}
.clause {height:398px; padding:8px 15px; border:1px solid #7F9DB9; overflow-y:scroll;}
.btnAgree {width:146px; height:49px; background:url(../images/clause_btn.png) no-repeat; border:0; cursor:pointer;}
.btnAgree:hover {background-position:0 -49px;}
.btnDisagree {width:146px; height:49px; background:url(../images/clause_btn2.png) no-repeat; border:0; cursor:pointer;}
.btnDisagree:hover {background-position:0 -49px;}




/*tab*/
.tab {width:660px; margin:20px auto 0; border-bottom:1px solid #ccc;}
.tab ul {padding-left:8px;}
.tab li {height:30px; line-height:30px; margin-right:5px; padding:0 20px; border:1px solid #ccc; border-bottom:none; background-color:#e4e3df; cursor:pointer; float:left;}
.tab li.on {font-size:14px; font-weight:bold; background-color:#fff;}
.tab em {height:30px; line-height:30px;}
.tabMain {width:660px; margin:0 auto; padding-top:10px;}
.tabMain .hide {display:none;}

/*返回顶部*/

#totop{position:fixed;bottom:30px;right:10px;z-index:999; cursor:pointer; display:none;}
*html #totop{position:absolute;cursor:pointer;right:10px; display:none;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-112+"px")}
#totop a i{
font-size:50px;
}
/* footer */
#footer-inner {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
    padding-bottom: 40px;
    position: relative;
}
.nav-foot {
    padding: 40px 0 0;
	width:600px;
	float:left;
}
.nav-foot p, .nav-foot a {
    color: #585858 !important;
    font-size: 12px;
}
.nav-foot a:hover {
    color: #AAAAAA !important;
}
.nav-foot p.footer-links {
    margin-bottom: 15px;
}
.partners {
    background: url(../images/contact_us.gif) no-repeat scroll 0 0 transparent;
    height: 68px;
   margin-top:20px;
    width: 219px;
	float:right;
	 margin-right:15px;
}
#footer-bottom {
    background: url("http://www.uisdc.com/wp-content/themes/oxygen/images/footer_bottom_bg.png") repeat-x scroll left bottom #000000;
    border-top: 1px solid #434343;
    clear: both;
    margin-top: 30px;
}

#footer a {
    color: #888888;
}
#footer a:hover {
    color: #333333;
}
#footer-content {
    clear: both;
}
#footer-bottom .nav-foot ul{
height:30px;
}
#footer-bottom .nav-foot ul li{
float:left;
margin:0 10px;
}


/* iconfont duoduo_net */
@font-face {font-family: 'uxiconfont';
    src: url('http://ux.etao.com/assets/uxiconfont.eot'); /* IE9*/
    src: url('http://ux.etao.com/assets/uxiconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://ux.etao.com/assets/uxiconfont.woff') format('woff'), /* chrome、firefox */
    url('http://ux.etao.com/assets/uxiconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://ux.etao.com/assets/uxiconfont.svg#svgFontName') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"uxiconfont";font-size:16px;font-style:normal;}

/* portamento.js */
#portamento_container {
  float:left; 
  position:relative;
}

#portamento_container .portamento.fixed {
    position: fixed;
}