<?php
/**
 * Example file for local configuration settings
 *
 * Save this file as main-local.php
 */

return array(
    'basePath' => dirname(__FILE__).DIRECTORY_SEPARATOR.'..',
    'name' => 'Yii Blog Bootstrap',
    'components' => array(
        'db' => array(
            'class' => 'CDbConnection',
            /**
             * Either use a MySQL or an SQLite database:
            //'connectionString' => 'mysql:host=YOUR_DB_HOST;dbname=YOUR_DB_NAME',
            //'connectionString' => 'sqlite:protected/data/blog.db',
            'emulatePrepare' => true,
            /**
             * Uncomment and change username and password fo a MySQ database
            //'username' => 'YOR_DB_USERNAME',
            //'password' => 'YOR_DB_USERPASSWORD',
            'charset' => 'utf8',
            'schemaCachingDuration' => '3600',
            'enableProfiling' => true,
            'tablePrefix'=>'tbl_',
        ),
    ),
    'params' => array(
        'yiiPath' => '/your/path/to/yii/framework/', // incl trailing slash
        'webmasterEmail' => 'webmaster@example.com',
        'editorEmail' => 'webmaster@example.com',
        'encryptionKey' => 'wlerekmrleur34qufi53948rfugtrut3485tn47zu5t',
    ),
);
